[submodule "edge264"]
	path = edge264
	url = https://github.com/pijuspet/edge264.git
[submodule "ffmpeg/FFmpeg-8.0"]
	path = ffmpeg/FFmpeg-8.0
	url = https://github.com/pijuspet/ffmpeg
	branch = release/8.0-hevc-mv
[submodule "ffmpeg/FFmpeg-8.0-custom"]
	path = ffmpeg/FFmpeg-8.0-custom
	url = https://github.com/pijuspet/ffmpeg
	branch = release/8.0-develop
